# Default owner for the repository
* @Sebas1705
# Android template project
/AndroidModApp/ @Sebas1705
# Repository operations and community health
/.github/ @Sebas1705
/docs/ @Sebas1705
/README.md @Sebas1705
